<div {{ attributes }} data-loading="addClass(opacity-95)">
    {% include 'components/_CheckerForm.html.twig' with {
        domain: this.domain,
        selector: this.selector,
        showSelector: true,
    } %}

    <div class="hidden" data-loading="removeClass(hidden)">
        {% include 'components/_CheckerSkeleton.html.twig' %}
    </div>

    {% if this.result %}
        <div data-loading="addClass(hidden)">
            {% include 'tools/_results/dkim-results.html.twig' with {result: this.result, domain: this.domain} %}
            {% include 'components/_StartMonitoringCta.html.twig' with {domain: this.domain} %}
            <twig:MonitorEmailMeMicro domain="{{ this.domain }}" source="dkim-result" />
        </div>
    {% endif %}
</div>
